.kaufman {
  background-color: #1f1f1f; ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  position: relative;
  overflow: hidden;
}
.kaufman__title_theme_dark {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 90px 0 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
}
.kaufman__subtitle_theme_dark {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
}
.kaufman__triangle {
  position: absolute;
  width: 900px;
  height: 800px;
  right: -224px;
  bottom: -250px;

}
.triangle__animation{
  transform: rotate(20deg);
  animation: girar 20s linear infinite;

}
@keyframes girar {
  from{
    transform: rotate(20deg);
  }
  to {
    transform: rotate(359deg);
  }
}
