.resources {
  display: flex;
  flex-direction: column;
}
.resources__title {
  width: 60%;
  margin: 100px auto 0;
  text-align: center;
}
.resources__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
}
.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 217px;
}
.resources__logo {
  width: 270px;
  height: 38px;
}
.resources__logo-links {
  text-decoration: none;
}
