.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 60px auto 0;
  padding: 0;
}
.table__cell {
  width: 250px;

}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;


}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 20px 60px 0 0;

}
.table__space-accent {
  display: block;
  padding-top: 20px;
}

/*table bloco kaufman*/

.table__theme_dark {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0 auto 90px;
  position: relative;
  z-index: 1;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  padding-right: 20px;
}
.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
}
